.home-s2 {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 1rem;

  &__title {
    width : 100%;
    text-transform: capitalize;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    padding : 1rem 0;
    gap : 2rem;
  }

  &__view-menu {
    width : 80%;
  }
}
